<div><%= notice %> </div>

<nav>
<% if logged? %>
    <%= link_to  "close session", session_path(current_user.id), method: :delete%>
<% else %>
    <%= link_to  "sign up", users_sign_up_path %>
    <%= link_to  "login",  users_sign_in_path %>
<% end %>
    
</nav>